body{
    background-color: rgb(21, 17, 31);
    text-align: center;
    color: antiquewhite;
}

body > * {
    margin: 45px auto;
}

h1 {
    font-size: 3rem;
}

#scoreboard {
    display: flex;
    width: fit-content;
    padding: 40px 0;
    border: 2px solid antiquewhite;
}

.label {
    background-color: rgb(255, 51, 0);
    margin: auto;
    width: 6rem;
    font-size: 1.2rem;
    padding: 6px;
}

/* Pushes 'user' and 'comp' labels to their respective sides */
#user-label {
    position: relative;
    bottom: 0.9rem;
    right: 2.5rem;  
}#comp-label {
    position: relative;
    bottom: 0.9rem;
    left: 2.5rem;  
}

.scores {
    font-size: 3rem;
}

#selections {
    margin: 45px;
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.selection {
    border: 3px solid rgb(255, 51, 0);
    border-radius: 20px;
    background: transparent;
    font-size: 6rem;
}

.selection:hover {
    transform: scale(1.2);
    transition: 100ms;
}

#message{
    display: flex;
    justify-content: center;
    font-size: 2rem;
} 