body{
    background-color: #ccc;

}

.selections,
.results{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.selection{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 6rem;
    transition: 100ms;
}

.selection:hover{
    transform: scale(1.2);
}

.results{
    font-size: 2rem;
    border: 2px solid black;
}

.message{
    display: flex;
    justify-content: center;
    border: 10px, solid, black;
    font-size: 22px;
}